body{
    text-align: center;
    background-image: url(https://image.shutterstock.com/image-vector/cartoon-urban-parking-zones-color-260nw-660134008.jpg);

    
}

canvas{
    background-image: url(https://image.shutterstock.com/image-vector/cartoon-urban-parking-zones-color-260nw-660134008.jpg);
}   
